<ion-header>
  <ion-navbar color="primary">
    <ion-title>Policy Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="backgorund-color">
  <ion-card *ngIf="policy" padding>

    <h5><b item-start>Plan:</b> {{policy.active_plan}} </h5>
    <p><b>Policy No.</b>:  {{policy.transection_id}}</p>
    <p><b>Payment Frequency:</b> {{policy.payment_frequency}}</p>
    <p><b>Payment Amount:</b> {{policy.amount}}{{policy?.currency==1?'$':'€'}}</p>
    <p><b>Membership No.</b>: {{policy.membership_number}}</p>
    <p><b>Date :</b> {{policy.date}}</p>

    <ion-list-header>Pdf Files</ion-list-header>
    <ion-spinner *ngIf="loading" style="text-align: center;"></ion-spinner>

    <ion-list *ngIf="!loading">
      <ion-item *ngFor="let file of pdfFiles" class="file">
        <ion-icon color="primary" name="cloud-download" item-start></ion-icon>
        <a [href]="file.link" target="_blank" >{{file.name}}</a>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>     


                             