page-login {
    .logo{
        width: 100px;
        margin-top: 15px;
        animation:logo-scale 0.5s ease;
    }
    .open-background{
        position:relative;
        &:before{
            position: absolute;
            content: '';
            width: 500px;
            height: 500px;
            border: 0px solid color($colors,primary);
            transform: rotate(45deg) translate(-250px,350px);
            animation:increase-border 0.5s ease-out;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes increase-border{
    0%{
        border-width:0px;
    }
    100%{
        border-width:60px;
    }
}

@keyframes logo-scale{
    0%{
        transform:scale(0);
    }
    100%{
        transform:scale(1)
    }
}

.container {
    border:1px solid black;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    padding: 30px;
  }    
  .fbloginBtn{
      width: 54%;
    padding-top: 23px;
    padding-left: 2px;
    padding-bottom: 22px;
  
    .iconFB{
        margin-right: 10px;
    font-size: 47px;
    padding-right: 4px;
    border-radius: 4px!important;
    border-right: 1px solid #253963;
    
    // border-right: 1px solid #22396af5;
    }
  }

  .err-msg{
    padding: 5px;
    border: 1px solid red;
    p{
        color: red;
    }
  }