page-login ,page-sign-up,page-forgort-password{
    .logo{
        width: 100px;
        margin-top: 15px;
        animation:logo-scale 0.5s ease;
    }
    .open-background{
        position:relative;
        &:before{
            position: absolute;
            content: '';
            width: 500px;
            height: 500px;
            border: 0px solid color($colors,primary);
            transform: rotate(45deg) translate(-250px,350px);
            animation:increase-border 0.5s ease-out;
            animation-fill-mode: forwards;
        }
    }
    .forgotPwd{
      float: left;
      color:color($colors, primary);
      margin-top: 10px;
      cursor: pointer;
      font-size: 15px;
    }
    .signUp{
      float: right;
      color: color($colors,primary);
      margin-top: 10px;
      cursor: pointer;
      font-size: 15px;
    }
    // .or{
    //   margin-top: 37px;
    //   margin-bottom: 26px;
    //   background-color: black;
    // width: 21%;
    // }
    // .mr{
    //   margin-right: 12px;
    // }
    // .ml{
    //   margin-left: 12px;
    // }
    // .alignCenter{
    //   margin-top: 10px;
    //   display: grid;
    //   align-items: center;
    //   font-size: 18px;
    // }
    // .flex{
    //   display: flex;
    // }
    .orIcon{
      font-size: 18px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
     bottom: -12px;
    position: absolute;
    z-index: 20;
    .expandMore{
      font-size: 40px;
    color: color($colors,primary);
    }
    }
}

@keyframes increase-border{
    0%{
        border-width:0px;
    }
    100%{
        border-width:60px;
    }
}

@keyframes logo-scale{
    0%{
        transform:scale(0);
    }
    100%{
        transform:scale(1)
    }
}

.container {
    border:1px solid black;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    padding: 30px;
  }    
  .fbloginBtn{
      width: 80%;
    padding-top: 23px;
    padding-left: 2px;
    padding-bottom: 22px;
  
    .iconFB{
    margin-right: 10px;
    font-size: 25px;
    padding-right: 4px;
    border-radius: 4px!important;
    
    
    // border-right: 1px solid #22396af5;
    }
  }

  .err-msg{
    padding: 5px;
    border: 1px solid red;
    p{
        color: red;
    }
    
    
  }