
<ion-header>
  <ion-navbar color="primary">
    <ion-title>My Account</ion-title>
  </ion-navbar>
</ion-header>


<ion-content  class="backgorund-color">
    <ion-card>

        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/marty-avatar.png">
          </ion-avatar> -->
          <h2>{{userDetails.first_name}} {{userDetails.last_name || ''}}</h2>
          <p>Membership Number: <span>{{userDetails.membership_number}}</span></p>
        </ion-item>
      
        <!-- <img src="img/advance-card-bttf.png"> -->
      
        <ion-card-content>
          <p><b>Contact No : </b>{{userDetails.mobile_phone}}</p>
          <p><b>Email: </b>{{userDetails.email}}</p>
          <p><b>Skype: </b>{{userDetails.skype}}</p>
        </ion-card-content>
        <div padding>
          <button ion-button block (click)="changePassword()">Change Password</button>
        </div>
    </ion-card>


    <ion-spinner *ngIf="loadingPolicies" style="text-align: center;"></ion-spinner>
    <ion-list *ngIf="!loadingPolicies">
      <ion-list-header>Purchased Policies</ion-list-header>
      <ion-item *ngFor="let p of policies;let i =index" (click)="openPolicyDetail(p)">
        <h5>Plan:{{p.active_plan}}</h5>
        <p>Policy No. : {{p.transection_id}}</p>
        <p>Payment Amount: {{p.amount}}</p>
        <p>Payment Frequency: {{p.payment_frequency}}</p>
        <!-- <p>Membership No.: {{p.membership_number}}</p> -->
        <p>Starting Date: {{p.starting_date}}</p>
      </ion-item>
      <div text-center *ngIf="!policies?.length">
        <p>Your policies will appear here</p>
      </div>
    </ion-list>
</ion-content>
