<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="open-background">
  <h3 class="heading">Sign Up</h3>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <ion-card class="signupCard">
    <ion-item>
      <ion-label floating>First Name *</ion-label>
      <ion-input formControlName="first"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last Name *</ion-label>
      <ion-input formControlName="last"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contact No</ion-label>
      <ion-input type="tel" formControlName="phone"></ion-input>
    </ion-item>
    <div class="err-msg" *ngIf="signupForm.controls.phone.touched && signupForm.controls.phone.invalid ">
      <p>Invalid Contact No</p>
    </div>
    <ion-item>
      <ion-label floating>Skype Id</ion-label>
      <ion-input type="email" formControlName="skypeId"></ion-input>
    </ion-item>
    <ion-item>    
      <ion-label floating>Email *</ion-label>
      <ion-input type="email" formControlName="mailId"></ion-input>
    </ion-item>
    <div class="err-msg" *ngIf="signupForm.controls.mailId.touched && signupForm.controls.mailId.invalid ">
      <p>Invalid email</p>
    </div>
    <ion-item>
      <ion-label floating>Password *</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirm Password *</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div class="err-msg" *ngIf="signupForm.controls.confirmPassword.valid && checkPassword()">
      <p>* Password mismatch</p>
    </div>



  </ion-card>
  <div padding>
    <button ion-button block type="submit" [disabled]="signupForm.invalid || checkPassword()">Submit</button>
  </div>
  </form>
</ion-content>