<ion-header>

  <ion-navbar>
    <ion-title>Medical Insurance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <div>
    <span *ngFor="let f of formNames;let i =index" [class.selectedFormName]="i==currentSlideIndex">{{f}} </span>
  </div>
  <ion-slides (ionSlideDidChange)="slideChanged()">

    <!-- FORM-1: INSURANCE DETAILS AND CALCUALTIONS -->
    <ion-slide>

      <form #form1="ngForm" no-validate (ngSubmit)="onGoAhead()" *ngIf="state">


        <div margin-top>
          <small>All fields marked with * are required</small>
        </div>

        <ion-item-group>
          <ion-item text-wrap>
            <ion-label>Area of Expatriation *
              <ion-icon name="help"></ion-icon>
            </ion-label>
            <ion-select (ionChange)="onAreaChange($event)" required [(ngModel)]="initialCountry" name="country">
              <ion-option *ngFor="let c of countries" [value]="c">{{c.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

        <!-- MAIN PERSON's DOB AND AGE -->
        <ion-item-group>
          <ion-item-divider color="light"></ion-item-divider>
          <ion-item>
            <ion-label>Date of Birth *</ion-label>
            <ion-datetime [(ngModel)]="dobs[0]" name="dob0" required displayFormat="DD MMM, YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
              [max]="today" (ionChange)="calculateAge($event)"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>
              Age
              <small *ngIf="state.txtApAge"> {{state.txtApAge}} Years (Max Age 70)</small>
            </ion-label>
          </ion-item>
        </ion-item-group>


        <ion-item-group>
          <ion-item-divider color="light"></ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Members
              <ion-icon name="help"></ion-icon>
            </ion-label>
            <ion-select (ionChange)="onMemberChange($event)" [(ngModel)]="initialMember" name="member">
              <ion-option *ngFor="let m of members" [value]="m">{{m}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

        <!-- 2nd PERSON's DOB AND AGE -->
        <ion-item-group *ngIf="state.members==='2-Persons' || state.members==='Family'">
          <ion-item-divider color="light">Member 2: wife, husband, partner or child
            < 22</ion-item-divider>
              <ion-item text-wrap>
                <ion-label>Date of Birth *</ion-label>
                <ion-datetime [(ngModel)]="dobs[1]" name="dob1" required displayFormat="DD MMM, YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
                  [max]="today" (ionChange)="calculateAge($event,1)"></ion-datetime>
              </ion-item>
              <ion-item *ngIf="state.members==='2-Persons' || state.members==='Family'">
                <ion-label>
                  Age
                  <small *ngIf="state.txtApAge1"> {{state.txtApAge1}} Years </small>
                </ion-label>
              </ion-item>
        </ion-item-group>

        <!-- 3rd PERSON's DOB AND AGE -->
        <ion-item-group *ngIf="state.members==='Family'">
          <ion-item-divider color="light">Member 3: Child
            < 22 </ion-item-divider>
              <ion-item>
                <ion-label>Date of Birth *</ion-label>
                <ion-datetime [(ngModel)]="dobs[2]" name="dob2" required displayFormat="DD MMM, YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
                  [max]="today" (ionChange)="calculateAge($event,2)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  Age
                  <small *ngIf="state.txtApAge2"> {{state.txtApAge2}} Years </small>
                </ion-label>
              </ion-item>
        </ion-item-group>

        <!-- 4th PERSON -->
        <ion-item-group *ngIf="state.members==='Family'">
          <ion-item-divider color="light">Member 4: Child
            < 22 </ion-item-divider>
              <ion-item>
                <ion-label>Yes Or No ?</ion-label>
                <ion-toggle (ionChange)="toggleChange($event,5)"></ion-toggle>
              </ion-item>
              <ion-item *ngIf="state.member4status==1">
                <ion-label>Date of Birth *</ion-label>
                <ion-datetime [(ngModel)]="dobs[3]" name="dob3" required displayFormat="DD MMM, YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
                  [max]="today" (ionChange)="calculateAge($event,3)"></ion-datetime>
              </ion-item>
              <ion-item *ngIf="state.member4status==1">
                <ion-label>
                  Age
                  <small *ngIf="state.txtApAge3"> {{state.txtApAge3}} Years </small>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Member 5 and more: Child
                  <span right>FREE</span>
                </ion-label>
              </ion-item>
        </ion-item-group>

        <!-- conmplment toggle btn -->
        <ion-item-group>
          <ion-item-divider color="light"></ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Only complement to social security (CFE, OSSOM, ETC) </ion-label>
            <ion-toggle (ionChange)="toggleChange($event,1)"></ion-toggle>
          </ion-item>
        </ion-item-group>

        <!-- other toggle btn -->
        <ion-item-group>
          <ion-item-divider color="light"></ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Inpatient</ion-label>
            <ion-toggle disabled checked (ionChange)="toggleChange($event,2)"></ion-toggle>
          </ion-item>
          <ion-item text-wrap>
            <ion-label>Outpatient</ion-label>
            <ion-toggle (ionChange)="toggleChange($event,3)"></ion-toggle>
          </ion-item>
          <ion-item text-wrap>
            <ion-label>Dental Optical</ion-label>
            <ion-toggle (ionChange)="toggleChange($event,4)"></ion-toggle>
          </ion-item>
        </ion-item-group>

        <!-- evacuation select options -->
        <ion-item-group>
          <ion-item-divider color="light">Assistance Evacuation Repatriation</ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Select Member</ion-label>
            <ion-select (ionChange)="onEvacuationChange($event)" [(ngModel)]="initialEvacuation" name="evacuation">
              <ion-option *ngFor="let m of assistantEvacuations" [value]="m">{{m}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

        <!-- global limit select options -->
        <ion-item-group>
          <ion-item-divider color="light">Adjust Global Limit</ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Select Limit</ion-label>
            <ion-select (ionChange)="onGlobalLimitChange($event)" [(ngModel)]="initialGlobalLimit" name="globalLimit">
              <ion-option *ngFor="let g of globalLimits" [value]="g">{{g.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

        <!-- evacuation select options -->
        <ion-item-group>
          <ion-item-divider color="light">Adjust deductible per Hospitalization claim</ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Select Adjustment</ion-label>
            <ion-select (ionChange)="onAdjustmentChange($event)" [(ngModel)]="initialAdjustment" name="adjustment">
              <ion-option *ngFor="let a of adjustments" [value]="a">{{a.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

        <div padding>
          <button ion-button full [disabled]='!form1.valid'>Go Ahead</button>
        </div>
      </form>
    </ion-slide>


    <!-- FORM -2: PERSONAL DETAILS FILLING -->
    <ion-slide>
      <button ion-button clear (click)="onBack()">
        <ion-icon name="arrow-back"></ion-icon>Back</button>
    </ion-slide>

    <!-- FORM-3: PAYMENT SELECTION -->
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</ion-content>


<!-- SHOW CALCULATED PREMIUM PRICES -->
<ion-footer style="background-color: grey" *ngIf="showFooter">
  <h6>
    <b>{{premiumInfo?.plan}}</b>
  </h6>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <p>Yearly</p>
        <p>$ {{premiumInfo?.yearly_1}}</p>
        <p>€ {{premiumInfo?.yearly_2}}</p>
      </ion-col>
      <ion-col col-3>
        <p>Bi-Annually</p>
        <p>$ {{premiumInfo?.biannually_1}}</p>
        <p>€ {{premiumInfo?.biannually_2}}</p>
      </ion-col>
      <ion-col col-3>
        <p>Qusrterly</p>
        <p>$ {{premiumInfo?.quarterly_1}}</p>
        <p>€ {{premiumInfo?.quarterly_2}}</p>
      </ion-col>
      <ion-col col-3>
        <p>Monthly</p>
        <p>$ {{premiumInfo?.monthly_1}}</p>
        <p>€ {{premiumInfo?.monthly_2}}</p>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>