<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="backgorund-color">
    <ion-slides (ionSlideDidChange)="slideChanged()">

        <!-- FORM-1: INSURANCE DETAILS AND CALCUALTIONS -->
        <!-- SLIDE 1: PREMIUM CALCUATION SLIDE -->
        <ion-slide>

            <form #form1="ngForm" no-validate (ngSubmit)="onGoAhead()" *ngIf="state">
                <ion-card>
                    <ion-item>
                        <ion-label>Area of Expatriation
                            <span class="mandotry">*</span>
                        </ion-label>
                        <ion-select (ionChange)="onAreaChange($event)" required [(ngModel)]="initialCountry" name="country">
                            <ion-option *ngFor="let c of countries" [disabled]="c.status==0" [value]="c">{{c.country_name}}</ion-option>
                        </ion-select>
                        <button type="button" clear ion-button icon-only item-end (click)="showDefiniton('Area of Expatriation')">
                            <ion-icon name="help-circle"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-item>
                        <ion-label>Date of Birth
                            <span class="mandotry">*</span>
                        </ion-label>
                        <ion-datetime [(ngModel)]="dobs[0]" name="dob0" required displayFormat="DD MMM, YYYY"
                            placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY" [min]="minDOBMain" [max]="today"
                            (ionChange)="calculateAge($event)"></ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label item-start>Age
                            <small>(Max Age {{maxAgeMain}})</small>
                        </ion-label>
                        <span *ngIf="state.txtApAge" item-end> {{state.txtApAge}} Years</span>
                    </ion-item>
                    <ion-item>
                        <ion-label>Members
                        </ion-label>
                        <ion-select (ionChange)="onMemberChange($event)" [(ngModel)]="initialMember" name="member">
                            <ion-option *ngFor="let m of members" [value]="m">{{m}}</ion-option>
                        </ion-select>
                        <button type="button" ion-button clear icon-only item-end (click)="showDefiniton('Members')">
                            <ion-icon name="help-circle"></ion-icon>
                        </button>
                    </ion-item>

                </ion-card>



                <!-- 2nd PERSON's DOB AND AGE -->
                <ion-card *ngIf="state.members==='2-Persons' || state.members==='Family'">
                    <ion-item-group>
                        <ion-item-divider color="primary">Member 2: wife, husband, partner or child < {{maxAgeChild}} </ion-item-divider>
                                <ion-item text-wrap>
                                <ion-label>Date of Birth<span class="mandotry">*</span> </ion-label>
                                <ion-datetime [(ngModel)]="dobs[1]" name="dob1" required displayFormat="DD MMM, YYYY"
                                    placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY" [min]="minDOBMain" [max]="today"
                                    (ionChange)="calculateAge($event,1)"></ion-datetime>
                                </ion-item>
                                <ion-item *ngIf="state.members==='2-Persons' || state.members==='Family'">
                                    <ion-label item-start>
                                        Age </ion-label>
                                    <div *ngIf="state.txtApAge1" item-end> {{state.txtApAge1}} Years </div>

                                </ion-item>
                    </ion-item-group>
                </ion-card>

                <!-- 3rd PERSON's DOB AND AGE -->
                <ion-card *ngIf="state.members==='Family'">
                    <ion-item-group>
                        <ion-item-divider color="primary">Member 3: Child < {{maxAgeChild}} </ion-item-divider>
                                <ion-item>
                                <ion-label>Date of Birth <span class="mandotry">*</span></ion-label>
                                <ion-datetime [(ngModel)]="dobs[2]" name="dob2" required displayFormat="DD MMM, YYYY"
                                    placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY" [min]="minDOBChild" [max]="today"
                                    (ionChange)="calculateAge($event,2)"></ion-datetime>
                                </ion-item>
                                <ion-item>
                                    <ion-label item-start>
                                        Age </ion-label>
                                    <div *ngIf="state.txtApAge2" item-end> {{state.txtApAge2}} Years </div>

                                </ion-item>
                    </ion-item-group>
                </ion-card>

                <!-- 4th PERSON -->
                <ion-card *ngIf="state.members==='Family'">
                    <ion-item-group>
                        <ion-item-divider color="primary">Member 4: Child < {{maxAgeChild}} </ion-item-divider>
                                <ion-item>
                                <ion-label>Yes Or No ?</ion-label>
                                <ion-toggle (ionChange)="toggleChange($event,5)"></ion-toggle>
                                </ion-item>
                                <ion-item *ngIf="state.member4status==1">
                                    <ion-label>Date of Birth <span class="mandotry">*</span></ion-label>
                                    <ion-datetime [(ngModel)]="dobs[3]" name="dob3" required displayFormat="DD MMM, YYYY"
                                        placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY" [min]="minDOBChild"
                                        [max]="today" (ionChange)="calculateAge($event,3)"></ion-datetime>
                                </ion-item>
                                <ion-item *ngIf="state.member4status==1">
                                    <ion-label item-start>
                                        Age</ion-label>
                                    <div *ngIf="state.txtApAge3" item-end> {{state.txtApAge3}} Years </div>

                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Member 5 and more: Child
                                        <span right>FREE</span>
                                    </ion-label>
                                </ion-item>
                    </ion-item-group>
                </ion-card>
                <div class="options" text-center>
                    <button type="button" ion-button small rounded (click)="showModulesToggles=!showModulesToggles">{{showModulesToggles?'Hide':'Show'}}
                        Options</button>
                </div>
                <div *ngIf="showModulesToggles">
                    <!-- conmplment toggle btn -->
                    <ion-card>
                        <ion-item-group>
                            <ion-item text-wrap class="border-bottom">
                                <ion-label>Only complement to social security
                                    <small>(CFE, OSSOM, ETC)</small>
                                </ion-label>
                                <ion-toggle (ionChange)="toggleChange($event,1)"></ion-toggle>
                                <button type="button" clear ion-button icon-only item-end (click)="showDefiniton('Complement to social security')">
                                    <ion-icon name="help-circle"></ion-icon>
                                </button>
                            </ion-item>
                            <ion-item text-wrap class="border-bottom">
                                <ion-label>Inpatient</ion-label>
                                <ion-toggle disabled [(ngModel)]="inpatientToggle" name="inpatientToggle"></ion-toggle>
                                <button type="button" clear ion-button icon-only item-end (click)="showDefiniton('Inpatient')">
                                    <ion-icon name="help-circle"></ion-icon>
                                </button>
                            </ion-item>
                            <ion-item text-wrap class="border-bottom">
                                <ion-label>Outpatient</ion-label>
                                <ion-toggle (ionChange)="toggleChange($event,3)"></ion-toggle>
                                <button type="button" clear ion-button icon-only item-end (click)="showDefiniton('Outpatient')">
                                    <ion-icon name="help-circle"></ion-icon>
                                </button>
                            </ion-item>
                            <ion-item text-wrap>
                                <ion-label>Dental Optical</ion-label>
                                <ion-toggle (ionChange)="toggleChange($event,4)"></ion-toggle>
                                <button type="button" clear ion-button icon-only item-end (click)="showDefiniton('Dental Optical')">
                                    <ion-icon name="help-circle"></ion-icon>
                                </button>
                            </ion-item>
                        </ion-item-group>
                    </ion-card>


                    <!-- evacuation select options -->
                    <ion-card>
                        <ion-item-group>
                            <ion-item-divider color="primary">Assistance Evacuation Repatriation</ion-item-divider>
                            <ion-item text-wrap>
                                <ion-label>Select Member</ion-label>
                                <ion-select (ionChange)="onEvacuationChange($event)" [(ngModel)]="initialEvacuation"
                                    name="evacuation">
                                    <ion-option *ngFor="let m of assistantEvacuations" [value]="m">{{m}}</ion-option>
                                </ion-select>
                                <button type="button" clear ion-button icon-only item-end (click)="showDefiniton('Assistance Evacuation Repatriation')">
                                    <ion-icon name="help-circle"></ion-icon>
                                </button>
                            </ion-item>
                        </ion-item-group>
                    </ion-card>
                    <!-- global limit select options -->
                    <ion-card>
                        <ion-item-group>
                            <ion-item-divider color="primary">Adjust Global Limit</ion-item-divider>
                            <ion-item text-wrap>
                                <ion-label>Select Limit</ion-label>
                                <ion-select (ionChange)="onGlobalLimitChange($event)" [(ngModel)]="initialGlobalLimit"
                                    name="globalLimit">
                                    <ion-option *ngFor="let g of globalLimits" [value]="g">{{g.name}}</ion-option>
                                </ion-select>
                                <button type="button" clear ion-button icon-only item-end (click)="showDefiniton('Adjust Global Limit')">
                                    <ion-icon name="help-circle"></ion-icon>
                                </button>
                            </ion-item>
                        </ion-item-group>
                    </ion-card>

                    <!-- evacuation select options -->
                    <ion-card>
                        <ion-item-group>
                            <ion-item-divider color="primary">Adjust deductible per Hospitalization claim</ion-item-divider>
                            <ion-item text-wrap>
                                <ion-label>Select Adjustment</ion-label>
                                <ion-select (ionChange)="onAdjustmentChange($event)" [(ngModel)]="initialAdjustment"
                                    name="adjustment">
                                    <ion-option *ngFor="let a of adjustments" [value]="a">{{a.name}}</ion-option>
                                </ion-select>
                                <button clear type="button" ion-button icon-only item-end (click)="showDefiniton('Adjust deductible per Hospitalization claim')">
                                    <ion-icon name="help-circle"></ion-icon>
                                </button>
                            </ion-item>
                        </ion-item-group>
                    </ion-card>
                </div>
                <div padding>
                    <button ion-button full [disabled]='!form1.valid'>Go Ahead</button>
                </div>
            </form>
        </ion-slide>

        <!-- SLIDE 2: PERSONAL DETAILS SLIDE-->
        <ion-slide>
            <ion-toolbar color="primary">
                <page-prevnext-component [isDisabled]="form2.invalid" (prev)="onPrev()" (next)="onGoToPaymentBtn()"></page-prevnext-component>
            </ion-toolbar>
            <form #form2="ngForm" no-validate (ngSubmit)="onGoToPaymentBtn()">
                <div *ngIf="form2Details">
                    <!-- GENERAL DETAILS -->
                    <ion-card>

                        <ion-item-divider class="headerColor" color="primary">General Info</ion-item-divider>
                        <ion-item>
                            <ion-label color="primary">Last Name
                                <span class="mandotry">*</span>
                            </ion-label>
                            <ion-input type="text" text-right required [(ngModel)]="form2Details.policy_owner_first" name="last"
                                placeholder="Last Name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary">First Name
                                <span class="mandotry">*</span>
                            </ion-label>
                            <ion-input type="text" text-right required [(ngModel)]="form2Details.policy_owner_first" name="first"
                                placeholder="First Name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary">Mobile
                                <span class="mandotry">*</span>
                            </ion-label>
                            <ion-input type="tel" text-right  required [(ngModel)]="form2Details.mobile_phone" name="mobile"
                                placeholder=" Enter Mobile" maxlength="20"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary">Email
                                <span class="mandotry">*</span>
                            </ion-label>
                            <ion-input type="email" text-right  required [(ngModel)]="form2Details.mail_id" name="mail" placeholder="Enter Email"></ion-input>
                        </ion-item>
                        <div radio-group [(ngModel)]="form2Details.sex" name="sex">
                            <ion-row>
                                <ion-col col-2 class="primaryColor" style="font-size:17px;padding-top:10px;">Sex</ion-col>
                                <ion-col col-10>
                                    <ion-row>
                                        <ion-col col-6>Male
                                            <ion-radio value="0"></ion-radio>
                                        </ion-col>
                                        <ion-col col-6>Female
                                            <ion-radio value="1"></ion-radio>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </div>

                        <ion-item>
                            <span item-start class="primaryColor">Date of Birth</span>
                            <span item-end>{{form2Details.dateofbirth_main}}</span>
                        </ion-item>

                        <ion-item>
                            <span item-start class="primaryColor">Family Description</span>
                            <span item-end>{{form2Details.family_description}}</span>
                        </ion-item>

                        <ion-item>
                            <ion-label color="primary">Nationality </ion-label>
                            <ion-select name="nationality" [(ngModel)]="form2Details.nationality" name="nationality"
                                placeholder="Select Country">
                                <ion-option *ngFor="let c of countries" [value]="c.country_name">{{c.country_name}}</ion-option>
                            </ion-select>
                        </ion-item>


                    </ion-card>
                    <!-- OTHER PERSONAL INFO -->

                    <button type="button" ion-button round small (click)="otherPersonalInfoToggle=!otherPersonalInfoToggle">Other
                        Personal Info
                        <span style="margin-left:4px;">
                            <ion-icon [name]="otherPersonalInfoToggle?'arrow-up':'arrow-down'"></ion-icon>
                        </span>
                    </button>
                    <ion-card *ngIf="otherPersonalInfoToggle">

                        <div>
                            <ion-item>
                                <ion-label stacked color="primary">Address of Expatriation </ion-label>
                                <ion-input class="border-bottom" [(ngModel)]="form2Details.expatriation_address" name="eAddress"
                                    (ionChange)="onExpatriationAddressChange()"></ion-input>
                            </ion-item>

                            <h5 color="primary" margin-top class="primaryColor">Billing Address</h5>
                            <ion-item>
                                <ion-label>Same as Exptriation Address</ion-label>
                                <ion-toggle [(ngModel)]="addressToggleValue" name="addressToggle" (ionChange)="onSameAddressToggle()"></ion-toggle>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked color="primary">Billing Address</ion-label>
                                <ion-input [disabled]="addressToggleValue" class="border-bottom" [(ngModel)]="form2Details.billing_address"
                                    name="bAddress"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary">Phone</ion-label>
                                <ion-input type="tel" [(ngModel)]="form2Details.Phone" name="phone" placeholder="Enter Phone"
                                    maxlength="20"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary">Skype Id</ion-label>
                                <ion-input type="text" [(ngModel)]="form2Details.skype_id" name="skype" placeholder="Enter Skype Id"></ion-input>
                            </ion-item>
                        </div>


                    </ion-card>
                    <!-- PARTNER AND CHILD DETAILS -->
                    <h4 *ngIf="state?.members!='Individual'">Child, Partner, Husband, Spouse</h4>

                    <!-- PARTNER DETAILS -->
                    <ion-card>
                        <ion-item-group *ngIf="state?.members!='Individual' && (form2Details.family_description=='2-Persons' || form2Details.family_description=='Family')">
                            <ion-item-divider color="primary">Partner (2nd Person) Details</ion-item-divider>
                            <ion-item>
                                <ion-label color="primary">Last Name
                                    <span class="mandotry">*</span>
                                </ion-label>
                                <ion-input class="border-bottom" type="text" required [(ngModel)]="form2Details.partner_last"
                                    name="partner_last" placeholder="Last Name"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary">First Name
                                    <span class="mandotry">*</span>
                                </ion-label>
                                <ion-input class="border-bottom" type="text" required [(ngModel)]="form2Details.partner_first"
                                    name="partner_first" placeholder="First Name"></ion-input>
                            </ion-item>

                            <div radio-group [(ngModel)]="form2Details.partner_sex" name="partner_sex">
                                <ion-row style="align-items: center">
                                    <ion-col col-4>Sex</ion-col>
                                    <ion-col col-8>
                                        <ion-row>
                                            <ion-col col-6>Male
                                                <ion-radio value="0"></ion-radio>
                                            </ion-col>
                                            <ion-col col-6>Female
                                                <ion-radio value="1"></ion-radio>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                            </div>

                            <ion-item>
                                <span item-start>Date of Birth</span>
                                <span item-end>{{changeDateFormat(dobs[1])}}</span>
                            </ion-item>
                        </ion-item-group>
                    </ion-card>

                    <!-- CHILD 1 DETAILS -->
                    <ion-card *ngIf="form2Details.family_description=='Family'">
                        <ion-item-group>

                            <div *ngFor="let child of childrenDetail;let i=index">

                                <ion-item-divider color="primary">Chlld {{i+1}} Details
                                    <button *ngIf="i>=2" ion-button (click)="onRemoveChildBtn(i)">Remove</button>
                                </ion-item-divider>

                                <ion-item>
                                    <ion-label color="primary">Last Name <span class="mandotry">*</span></ion-label>
                                    <ion-input class="border-bottom" type="text" required [(ngModel)]="child.last" name="child.last{{i+1}}"
                                        placeholder="Last Name"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label color="primary">First Name <span class="mandotry">*</span></ion-label>
                                    <ion-input class="border-bottom" type="text" required [(ngModel)]="child.first"
                                        name="child.first{{i+1}}" placeholder="First Name"></ion-input>
                                </ion-item>

                                <div radio-group [(ngModel)]="child.sex" name="child.sex{{i+1}}">
                                    <ion-row style="align-items: center">
                                        <ion-col col-4 color="primary">Sex</ion-col>
                                        <ion-col col-8>
                                            <ion-row>
                                                <ion-col col-6>Male
                                                    <ion-radio value="0"></ion-radio>
                                                </ion-col>
                                                <ion-col col-6>Female
                                                    <ion-radio value="1"></ion-radio>
                                                </ion-col>
                                            </ion-row>
                                        </ion-col>
                                    </ion-row>
                                </div>

                                <!-- FOR FIRST 2 CHILD, SHOW THE DOB ENTERED IN FORM1, FOR OTHER CHILDREN, GIVE OPTION TO SELECT DOB -->
                                <ion-item *ngIf="i<2">
                                    <span item-start>Date of Birth</span>
                                    <span item-end>{{changeDateFormat(dobs[i+2])}}</span>
                                </ion-item>
                                <ion-item *ngIf="i>=2">
                                    <ion-label>Date of Birth <span class="mandotry">*</span></ion-label>
                                    <ion-datetime required [(ngModel)]="dobsForm2[i]" name="dobs2{{i}}" displayFormat="DD/MM/YYYY"
                                        placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY" [min]="minDOBChild"
                                        [max]="today" (ionChange)="calculateAgeForForm2($event,child,i)"></ion-datetime>
                                </ion-item>

                            </div>

                            <button *ngIf="childrenDetail.length>=2 &&childrenDetail.length<16" ion-button type="button"
                                small (click)="onAddChildBtn()">Add
                                One Child</button>
                        </ion-item-group>
                    </ion-card>
                    <h4>Medical Questionnaire </h4>
                    <ion-card>
                        <ion-item-group>
                            <ion-item-divider color="primary">Main Insured </ion-item-divider>
                            <ion-item>
                                <ion-label color="primary">Height<span class="mandotry">*</span></ion-label>
                                <ion-input type="number" class="border-bottom" required [(ngModel)]="form2Details.main_insured_height"
                                    name="main_height" placeholder="Height (m)"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary">Weight<span class="mandotry">*</span></ion-label>
                                <ion-input type="number" required [(ngModel)]="form2Details.main_insured_weight" name="main_weight"
                                    placeholder="Weight (Kg)"></ion-input>
                            </ion-item>


                        </ion-item-group>

                        <!-- PARTNER'S  HEIGHT-WEIGHT -->
                        <ion-item-group *ngIf="form2Details.family_description=='Family' || form2Details.family_description=='2-Persons'">
                            <ion-item-divider color="primary">Partner <span class="mandotry">*</span></ion-item-divider>
                            <ion-item>
                                <ion-input type="number" required [(ngModel)]="form2Details.partner_height" name="partner_height"
                                    placeholder="Height* (m)"></ion-input>
                                <ion-input type="number" required [(ngModel)]="form2Details.partner_weight" name="partner_weight"
                                    placeholder="Weight* (Kg)"></ion-input>
                            </ion-item>
                        </ion-item-group>

                        <!-- CHILDREN'S  HEIGHT-WEIGHT -->
                        <ion-item-group *ngFor="let child of childrenDetail;let i=index">
                            <ion-item-divider color="primary">Child {{i+1}} <span class="mandotry">*</span></ion-item-divider>
                            <ion-item>
                                <ion-input type="number" required [(ngModel)]="child.height" name="child_height{{i+1}}"
                                    placeholder="Height (m)"></ion-input>
                                <ion-input type="number" required [(ngModel)]="child.weight" name="child_weight{{i+1}}"
                                    placeholder="Weight (Kg)"></ion-input>
                            </ion-item>
                        </ion-item-group>

                        <!-- MEDICAL PREEXISTING CONDITION -->
                        <ion-item-divider><b>Medical Preexisting Condition (If Any)</b></ion-item-divider>
                        <ion-list>
                            <!-- MAIN PERSON preexisting condition-->
                            <div radio-group [(ngModel)]="form2Details.preexisting_main_insured" name="preexisting_main_insured">
                                <ion-row style="align-items: center">
                                    <ion-col col-4>Main Insured </ion-col>
                                    <ion-col col-8>
                                        <ion-row>
                                            <ion-col col-6>Yes
                                                <ion-radio value="1"></ion-radio>
                                            </ion-col>
                                            <ion-col col-6>No
                                                <ion-radio value="0"></ion-radio>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>


                                <ion-textarea class="textarea" *ngIf="form2Details.preexisting_main_insured==1" type="text" required
                                    [(ngModel)]="form2Details.preexisting_main_insured_1" name="preexisting_main_insured_1"
                                    placeholder="Details :">
                                </ion-textarea>

                            </div>

                            <!-- PARTNER'S  preexisting condition-->
                            <div *ngIf="state?.members==='2-Persons' || state?.members==='Family'" style="border-bottom: 1px solid black"
                                radio-group [(ngModel)]="form2Details.preexisting_partner" name="preexisting_partner">
                                <ion-row style="align-items: center">
                                    <ion-col col-4>Partner </ion-col>
                                    <ion-col col-8>
                                        <ion-row>
                                            <ion-col col-6>Yes
                                                <ion-radio value="1"></ion-radio>
                                            </ion-col>
                                            <ion-col col-6>No
                                                <ion-radio value="0"></ion-radio>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                                <ion-textarea *ngIf="form2Details.preexisting_partner==1" type="text" required
                                    [(ngModel)]="form2Details.preexisting_partner_1" name="preexisting_partner_1"
                                    placeholder=" Details :">
                                </ion-textarea>
                            </div>

                            <!-- CHILDREN'S  preexisting condition-->
                            <div *ngIf="state?.members==='Family'">

                                <div *ngFor="let child of childrenDetail;let i= index">
                                    <div radio-group [(ngModel)]="child.preexisting" name="child.preexisting{{i+1}}">
                                        <ion-row style="align-items: center">
                                            <ion-col col-4>Child {{i+1}} </ion-col>
                                            <ion-col col-8>
                                                <ion-row>
                                                    <ion-col col-6>Yes
                                                        <ion-radio value="1"></ion-radio>
                                                    </ion-col>
                                                    <ion-col col-6>No
                                                        <ion-radio value="0"></ion-radio>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-col>
                                        </ion-row>
                                        <ion-textarea class="border-bottom" *ngIf="child.preexisting==1" type="text"
                                            required [(ngModel)]="child.preexisting_1" name="child.preexisting_1{{i+1}}"
                                            placeholder="If Yes, Details :">
                                        </ion-textarea>
                                    </div>
                                </div>
                            </div>
                        </ion-list>
                    </ion-card>


                    <div text-center>
                        <button type="button" ion-button small round (click)="planInfoToggle=!planInfoToggle">Plan Info
                            <span style="margin-left:4px;">
                                <ion-icon [name]="planInfoToggle?'arrow-up':'arrow-down'"></ion-icon>
                            </span>
                        </button>
                    </div>

                    <div *ngIf="planInfoToggle">
                        <ion-card>
                            <ion-item>
                                <span item-start>Area of Cover</span>
                                <span item-end>{{state?.area | uppercase}}</span>
                            </ion-item>
                            <ion-item>
                                <ion-label>First USD Cover</ion-label>
                                <ion-toggle disabled [checked]="form2Details.first_usd_cover"></ion-toggle>
                            </ion-item>
                            <ion-item>
                                <ion-label>CFE</ion-label>
                                <ion-toggle disabled [checked]="state?.complement"></ion-toggle>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary" stacked>Social security No. (in case of CFE):</ion-label>
                                <ion-input type="text" [(ngModel)]="form2Details.security_CFE_1" name="SSN" placeholder="Enter Social Security No."></ion-input>
                            </ion-item>
                        </ion-card>
                        <!-- SELECTED PLAN-->
                        <ion-card>
                            <ion-item-group>
                                <ion-item-divider color="primary">Choice of the class of cover</ion-item-divider>

                                <ion-list radio-group>
                                    <ion-item>
                                        <ion-label>SERENITY PLAN</ion-label>
                                        <ion-radio disabled [checked]="form2Details.serenity_cover"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>ELITE PLAN</ion-label>
                                        <ion-radio disabled [checked]="!form2Details.serenity_cover"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </ion-item-group>
                        </ion-card>
                        <!-- CHOICE OF MODULES-->
                        <ion-card>
                            <ion-item-group>
                                <ion-item-divider color="primary">Choice of Modules</ion-item-divider>
                                <ion-item>
                                    <ion-label>Inpatient</ion-label>
                                    <ion-toggle disabled [checked]="form2Details.inpatient_modules"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Outpatient</ion-label>
                                    <ion-toggle disabled [checked]="form2Details.outpatient_modules"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Dental Optical</ion-label>
                                    <ion-toggle disabled [checked]="form2Details.dental_optical_modules"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Assistance Evacuation Repatriation</ion-label>
                                    <ion-toggle disabled [checked]="form2Details.assistance_evacuation_modules"></ion-toggle>
                                </ion-item>
                            </ion-item-group>
                        </ion-card>

                    </div>

                    <ion-card>
                        <ion-list>
                            <ion-item>
                                <span item-start>
                                    <b>Global Limit</b>
                                </span>
                                <span item-end>
                                    $ {{state?.globallimit}}
                                </span>
                            </ion-item>

                            <ion-item text-wrap>
                                <span item-start>
                                    <b>Deductible per Hospitalizaiton claim</b>
                                </span>
                                <span item-end>
                                    $ {{state?.adjusment}}
                                </span>
                            </ion-item>

                            <ion-item text-wrap>
                                <div color="dark" item-start>
                                    <b>Starting date of cover <span class="mandotry">*</span></b>
                                </div>
                                <ion-datetime item-end [(ngModel)]="date_of_cover" name="date_of_cover" required
                                    displayFormat="DD/MM/YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
                                    [min]="today" [max]="nextYearSameDate" (ionChange)="setDateOfCover($event)"></ion-datetime>
                            </ion-item>

                            <ion-item>
                                <span item-start>
                                    <b>Broker Id</b>
                                </span>
                                <span item-end>
                                    {{brokerId}}
                                </span>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                    <ion-card>
                        <ion-item-divider color="primary">Currency and Payment</ion-item-divider>
                        <p style="text-align: left;margin-left: 15px">This price includes your shares </p>
                        <!-- SHOW THE AVAILABLE AND SELECTED PAYMENT CURRENCY AND FREQUENCY -->
                        <ion-grid class="payment">
                            <ion-row>
                                <ion-col col-3>
                                    <p>Yearly</p>
                                    <p [class.selectedFrequency]="form2Details.frequency_payment=='Annual' && form2Details.currency=='1'">$
                                        {{premiumInfo?.yearly_1}}</p>
                                    <p [class.selectedFrequency]="form2Details.frequency_payment=='Annual' && form2Details.currency=='2'">€
                                        {{premiumInfo?.yearly_2}}</p>
                                </ion-col>
                                <ion-col col-3>
                                    <p>Bi-Annually</p>
                                    <p [class.selectedFrequency]="form2Details.frequency_payment=='biannually' && form2Details.currency=='1'">$
                                        {{premiumInfo?.biannually_1}}</p>
                                    <p [class.selectedFrequency]="form2Details.frequency_payment=='biannually' && form2Details.currency=='2'">€
                                        {{premiumInfo?.biannually_2}}</p>
                                </ion-col>
                                <ion-col col-3>
                                    <p>Qusrterly</p>
                                    <p [class.selectedFrequency]="form2Details.frequency_payment=='Quarterly' && form2Details.currency=='1'">$
                                        {{premiumInfo?.quarterly_1}}</p>
                                    <p [class.selectedFrequency]="form2Details.frequency_payment=='Quarterly' && form2Details.currency=='2'">€
                                        {{premiumInfo?.quarterly_2}}</p>
                                </ion-col>
                                <ion-col col-3>
                                    <p>Monthly</p>
                                    <p [class.selectedFrequency]="form2Details.frequency_payment=='Monthly' && form2Details.currency=='1'">$
                                        {{premiumInfo?.monthly_1}}</p>
                                    <p [class.selectedFrequency]="form2Details.frequency_payment=='Monthly' && form2Details.currency=='2'">€
                                        {{premiumInfo?.monthly_2}}</p>
                                </ion-col>

                            </ion-row>
                        </ion-grid>
                        <div radio-group [(ngModel)]="form2Details.currency" name="currency">
                            <ion-row style="align-items: center">
                                <ion-col col-4>Choose Currency </ion-col>
                                <ion-col col-8>
                                    <ion-row>
                                        <ion-col col-6>$
                                            <ion-radio value="1"></ion-radio>
                                        </ion-col>
                                        <ion-col col-6>€
                                            <ion-radio value="2"></ion-radio>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-card>


                    <ion-list radio-group [(ngModel)]="form2Details.frequency_payment" name="frequency_payment">
                        <ion-list-header>Choose Frequency of Payment</ion-list-header>
                        <ion-item>
                            <ion-label>Yearly</ion-label>
                            <ion-radio value="Annual"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Bi-Anually</ion-label>
                            <ion-radio value="biannually"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Quarterly</ion-label>
                            <ion-radio value="Quarterly"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Monthly</ion-label>
                            <ion-radio value="Monthly"></ion-radio>
                        </ion-item>
                    </ion-list>

                </div>
                <button ion-button full type="submit" [disabled]="form2.invalid">Go Ahead to Payment</button>

            </form>
        </ion-slide>

        <!-- SLIDE 3 :SUMMARY PAGE -->
        <ion-slide>
            <ion-toolbar color="primary">
                <page-prevnext-component [isDisabled]="true" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>
            </ion-toolbar>

            <h4><b>Payable Amountd:</b> {{form2SubmitResponse?.currency==1?'$':'€'}}
                {{form2SubmitResponse?.last_amount}}</h4>
            <ion-card>
                <ion-list>
                    <ion-item class="border-bottom">
                        <span item-start color="primary">Area </span>
                        <!-- <ion-label item-end>{{form2SubmitResponse?.policy_AREA}} </ion-label> -->
                        <span item-end> {{form2SubmitResponse?.policy_AREA}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Date of Birth </ion-label>
                        <span item-end> {{form2SubmitResponse?.dateofbirth_main}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Members </ion-label>
                        <span item-end> {{form2SubmitResponse?.family_description}}</span>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card>
                <ion-list>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Complement to Social Security </ion-label>
                        <ion-toggle disabled [checked]="form2SubmitResponse?.complementary_social"></ion-toggle>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Inpatient </ion-label>
                        <ion-toggle disabled [checked]="form2SubmitResponse?.inpatient"></ion-toggle>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Outpatient </ion-label>
                        <ion-toggle disabled [checked]="form2SubmitResponse?.outpatient"></ion-toggle>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Dental Optical </ion-label>
                        <ion-toggle disabled [checked]="form2SubmitResponse?.dental_optical"></ion-toggle>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Assistance Evacuation </ion-label>
                        <span item-end> {{assistantEvacuations[form2SubmitResponse?.assistance_evacuation]}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Global Limit </ion-label>
                        <span item-end> {{form2SubmitResponse?.adjust_globallimit}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Hospital Adjustment</ion-label>
                        <span item-end> {{form2SubmitResponse?.hospital_adjusment}}</span>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card>
                <ion-list>
                    <ion-item class="border-bottom">
                        <ion-label item-start>First Name </ion-label>
                        <span item-end> {{form2SubmitResponse?.policy_owner_first}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>last Name </ion-label>
                        <span item-end> {{form2SubmitResponse?.policy_owner_last}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Sex </ion-label>
                        <span item-end> {{form2SubmitResponse?.sex==0?'Male':'Female'}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Nationality </ion-label>
                        <span item-end> {{form2SubmitResponse?.nationality}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Mobile </ion-label>
                        <span item-end> {{form2SubmitResponse?.mobile_phone}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Email </ion-label>
                        <span item-end> {{form2SubmitResponse?.mail_id}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Phone </ion-label>
                        <span item-end> {{form2SubmitResponse?.phone}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Skype Id </ion-label>
                        <span item-end> {{form2SubmitResponse?.skype_id}}</span>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card>
                <ion-list>
                    <ion-item class="border-bottom" text-wrap>
                        <ion-label item-start>Expatriation Address </ion-label>
                        <span item-end> {{form2SubmitResponse?.expatriation_address}}</span>
                    </ion-item>
                    <ion-item class="border-bottom" text-wrap>
                        <ion-label item-start>Billing Address </ion-label>
                        <span item-end> {{form2SubmitResponse?.billing_address}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Height </ion-label>
                        <span item-end> {{form2SubmitResponse?.main_insured_height}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Weight </ion-label>
                        <span item-end> {{form2SubmitResponse?.main_insured_weight}}</span>
                    </ion-item>
                    <ion-item class="border-bottom">
                        <ion-label item-start>Main Insured </ion-label>
                        <ion-toggle disabled [checked]="form2SubmitResponse?.preexisting_main_insured"></ion-toggle>
                    </ion-item>
                    <ion-item class="border-bottom" *ngIf="form2SubmitResponse?.preexisting_main_insured">
                        <ion-label item-start>Pre-exisiting Condition </ion-label>
                        <span item-end> {{form2SubmitResponse?.preexisting_main_insured_1}}</span>
                    </ion-item>

                    <ng-container *ngFor="let child of form2SubmitResponse?.form2;let i=index">

                        <ion-item-divider>{{child.memberType==1?'Partner Details':'Child Details :'}}</ion-item-divider>
                        <ion-item class="border-bottom">
                            <ion-label item-start>First_Name </ion-label>
                            <span item-end> {{child.first}}</span>
                        </ion-item>
                        <ion-item class="border-bottom">
                            <ion-label item-start>Last_Name </ion-label>
                            <span item-end> {{child.last}}</span>
                        </ion-item>
                        <ion-item class="border-bottom">
                            <ion-label item-start>DOB </ion-label>
                            <span item-end> {{child.dob}}</span>
                        </ion-item>
                        <ion-item class="border-bottom">
                            <ion-label item-start>Sex </ion-label>
                            <span item-end> {{child.sex==0?'Male':'Female'}}</span>
                        </ion-item>
                        <ion-item class="border-bottom">
                            <ion-label item-start>Height </ion-label>
                            <span item-end> {{child.height}}</span>
                        </ion-item>
                        <ion-item class="border-bottom">
                            <ion-label item-start>Weight </ion-label>
                            <span item-end> {{child.weight}}</span>
                        </ion-item>
                        <ion-item class="border-bottom">
                            <ion-label item-start>Insured </ion-label>
                            <ion-toggle disabled [checked]="child?.preexisting"></ion-toggle>
                        </ion-item>
                        <ion-item class="border-bottom" *ngIf="child?.preexisting_1">
                            <ion-label item-start>Pre-exisiting Condition </ion-label>
                            <span item-end> {{child.preexisting_1}}</span>
                        </ion-item>
                    </ng-container>

                </ion-list>
            </ion-card>

            <ion-card>
                <ion-list>
                    <ion-item>
                        <ion-label>Payment Frequency</ion-label>
                        <span item-end> {{form2SubmitResponse?.frequency_payment}}</span>

                    </ion-item>
                </ion-list>
            </ion-card>
            <div padding><button type="button" ion-button full rounded (click)="onEnterPaymentDetais()">Enter Payment Detais</button></div>
            
        </ion-slide>

        <!-- SLIDE 4 -->
        <ion-slide>
            <ion-toolbar color="primary">
                <page-prevnext-component [isDisabled]="true" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>
            </ion-toolbar>

            <ion-card>
                <ion-item>
                    <b>Payable Amount:</b> {{form2SubmitResponse?.currency==1?'$':'€'}}
                    {{form2SubmitResponse?.last_amount}}</ion-item>
                <ion-item>
                    <b>Policy: </b>{{form2SubmitResponse?.transaction_id}}</ion-item>
                </ion-card>

            <div>
                
                <ion-card padding-bottom>
                  <ion-list-header class="header">Enter Payment Details</ion-list-header>
                    <h2 text-left padding> <ion-icon item-start name="card" class="primaryColor"></ion-icon> Credit or Debit card</h2>
                    <ion-item >
                        <ion-input type="number" class="card-details" placeholder="Card number" [(ngModel)]="card.cardNumber"></ion-input>
                        
                    </ion-item>
                    
                    <ion-item class="date-cvv" text-left no-padding margin-right>
                        <small>Expiration Date</small>
                        <ion-datetime [(ngModel)]="card.cardExpiryDate" displayFormat="MMM YYYY" [min]="minDate" [max]="maxDate"
                            placeholder="Expiry Date"></ion-datetime>
                    </ion-item>
                    <ion-item class="date-cvv" margin-left style="float: left" >
                        
                        <ion-input type="text" maxlength="3" placeholder="CVC/CVV" [(ngModel)]="card.cvv"></ion-input>
                    </ion-item>
                  </ion-card>

                <div>
                    <ion-item>
                        <ion-label> Save details for future transactions</ion-label>
                        <ion-checkbox [(ngModel)]="card.saveDetailsForFuture" >
                        </ion-checkbox>
                    </ion-item>

                    <ion-input type="checkbox" [(ngModel)]="card.saveDetailsForFuture">
                    </ion-input>
                </div>

            </div>
            <div padding>
            <button ion-button full (click)="onMakePaymentBtn()">Make Payment</button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<!-- SHOW CALCULATED PREMIUM PRICES -->

<ion-footer color="secondary" *ngIf="showFooter">
    <div>
        <b>{{premiumInfo?.plan}}</b>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
                <p>Yearly</p>
                <p>$ {{premiumInfo?.yearly_1}}</p>
                <p>€ {{premiumInfo?.yearly_2}}</p>
            </ion-col>
            <ion-col col-3>
                <p>Bi-Annually</p>
                <p>$ {{premiumInfo?.biannually_1}}</p>
                <p>€ {{premiumInfo?.biannually_2}}</p>
            </ion-col>
            <ion-col col-3>
                <p>Quarterly</p>
                <p>$ {{premiumInfo?.quarterly_1}}</p>
                <p>€ {{premiumInfo?.quarterly_2}}</p>
            </ion-col>
            <ion-col col-3>
                <p>Monthly</p>
                <p>$ {{premiumInfo?.monthly_1}}</p>
                <p>€ {{premiumInfo?.monthly_2}}</p>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-footer>