page-medical-insurance-form {
  
  .primaryColor {
    color: color($colors, primary);
  }
  .border-bottom {
    border-bottom: 1px solid #e4d7d7;
  }
  .options {
    // margin-bottom:32px;
  }
  .headerColor {
    // background: rgba(128, 128, 128, 0.4117647058823529);
    color: color($colors, secondary);
  }
  .mandotry {
    color: color($colors, danger);
  }
}

.selectedFormName {
  color: blue
}

.swiper-slide {
  align-items: flex-start !important;
  overflow-y: auto; // border: 1px solid black;
}

.selectedFrequency {
  background-color: antiquewhite;
}

.scroll-content {
  padding-bottom: 0px !important;
}
.backgorund-color {
    background: color($colors, light);
  }
.payment{
  margin-top: 15px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgrey;
}
