<ion-header>
  <ion-navbar>
    <ion-title>Medical Insurance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <span *ngFor="let f of formNames;let i =index" [class.selectedFormName]="i==selectedFormIndex">{{f}} </span>
  </div>
  <ion-slides (ionSlideDidChange)="slideChanged()">

    <!-- FORM-1: INSURANCE DETAILS AND CALCUALTIONS -->
    <!-- SLIDE 1: PREMIUM CALCUATION SLIDE -->
    <ion-slide>

      <form #form1="ngForm" no-validate (ngSubmit)="onGoAhead()" *ngIf="state">


        <div margin-top>
          <small>All fields marked with * are required</small>
        </div>

        <ion-item-group>
          <ion-item text-wrap>
            <ion-label>Area of Expatriation *
            </ion-label>
            <ion-select (ionChange)="onAreaChange($event)" required [(ngModel)]="initialCountry" name="country">
              <ion-option *ngFor="let c of countries" [disabled]="c.status==0" [value]="c">{{c.country_name}}</ion-option>
            </ion-select>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Area of Expatriation')">
              <ion-icon name="help"></ion-icon>
            </button>

          </ion-item>
        </ion-item-group>

        <!-- MAIN PERSON's DOB AND AGE -->
        <ion-item-group>
          <ion-item-divider color="light"></ion-item-divider>
          <ion-item>
            <ion-label>Date of Birth *</ion-label>
            <ion-datetime [(ngModel)]="dobs[0]" name="dob0" required displayFormat="DD MMM, YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
              [min]="minDOBMain" [max]="today" (ionChange)="calculateAge($event)"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>
              Age
              <small *ngIf="state.txtApAge"> {{state.txtApAge}} Years (Max Age {{maxAgeMain}})</small>
            </ion-label>
          </ion-item>
        </ion-item-group>


        <ion-item-group>
          <ion-item-divider color="light"></ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Members
            </ion-label>
            <ion-select (ionChange)="onMemberChange($event)" [(ngModel)]="initialMember" name="member">
              <ion-option *ngFor="let m of members" [value]="m">{{m}}</ion-option>
            </ion-select>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Members')">
                <ion-icon name="help"></ion-icon>
              </button>
          </ion-item>
        </ion-item-group>

        <!-- 2nd PERSON's DOB AND AGE -->
        <ion-item-group *ngIf="state.members==='2-Persons' || state.members==='Family'">
          <ion-item-divider color="light">Member 2: wife, husband, partner or child
            < {{maxAgeChild}}</ion-item-divider>
              <ion-item text-wrap>
                <ion-label>Date of Birth *</ion-label>
                <ion-datetime [(ngModel)]="dobs[1]" name="dob1" required displayFormat="DD MMM, YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
                  [min]="minDOBMain" [max]="today" (ionChange)="calculateAge($event,1)"></ion-datetime>
              </ion-item>
              <ion-item *ngIf="state.members==='2-Persons' || state.members==='Family'">
                <ion-label>
                  Age
                  <small *ngIf="state.txtApAge1"> {{state.txtApAge1}} Years </small>
                </ion-label>
              </ion-item>
        </ion-item-group>

        <!-- 3rd PERSON's DOB AND AGE -->
        <ion-item-group *ngIf="state.members==='Family'">
          <ion-item-divider color="light">Member 3: Child
            < {{maxAgeChild}} </ion-item-divider>
              <ion-item>
                <ion-label>Date of Birth *</ion-label>
                <ion-datetime [(ngModel)]="dobs[2]" name="dob2" required displayFormat="DD MMM, YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
                  [min]="minDOBChild" [max]="today" (ionChange)="calculateAge($event,2)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  Age
                  <small *ngIf="state.txtApAge2"> {{state.txtApAge2}} Years </small>
                </ion-label>
              </ion-item>
        </ion-item-group>

        <!-- 4th PERSON -->
        <ion-item-group *ngIf="state.members==='Family'">
          <ion-item-divider color="light">Member 4: Child
            < {{maxAgeChild}} </ion-item-divider>
              <ion-item>
                <ion-label>Yes Or No ?</ion-label>
                <ion-toggle (ionChange)="toggleChange($event,5)"></ion-toggle>
              </ion-item>
              <ion-item *ngIf="state.member4status==1">
                <ion-label>Date of Birth *</ion-label>
                <ion-datetime [(ngModel)]="dobs[3]" name="dob3" required displayFormat="DD MMM, YYYY" placeholder="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"
                  [min]="minDOBChild" [max]="today" (ionChange)="calculateAge($event,3)"></ion-datetime>
              </ion-item>
              <ion-item *ngIf="state.member4status==1">
                <ion-label>
                  Age
                  <small *ngIf="state.txtApAge3"> {{state.txtApAge3}} Years </small>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Member 5 and more: Child
                  <span right>FREE</span>
                </ion-label>
              </ion-item>
        </ion-item-group>

        <!-- conmplment toggle btn -->
        <ion-item-group>
          <ion-item-divider color="light"></ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Only complement to social security (CFE, OSSOM, ETC) </ion-label>
            <ion-toggle (ionChange)="toggleChange($event,1)"></ion-toggle>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Complement to social security')">
                <ion-icon name="help"></ion-icon>
              </button>
          </ion-item>
        </ion-item-group>

        <!-- other toggle btn -->
        <ion-item-group>
          <ion-item-divider color="light"></ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Inpatient</ion-label>
            <ion-toggle disabled  [(ngModel)]="inpatientToggle" name="inpatientToggle"></ion-toggle>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Inpatient')">
                <ion-icon name="help"></ion-icon>
              </button>
          </ion-item>
          <ion-item text-wrap>
            <ion-label>Outpatient</ion-label>
            <ion-toggle (ionChange)="toggleChange($event,3)"></ion-toggle>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Outpatient')">
                <ion-icon name="help"></ion-icon>
              </button>
          </ion-item>
          <ion-item text-wrap>
            <ion-label>Dental Optical</ion-label>
            <ion-toggle (ionChange)="toggleChange($event,4)"></ion-toggle>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Dental Optical')">
                <ion-icon name="help"></ion-icon>
              </button>
          </ion-item>
        </ion-item-group>

        <!-- evacuation select options -->
        <ion-item-group>
          <ion-item-divider color="light">Assistance Evacuation Repatriation</ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Select Member</ion-label>
            <ion-select (ionChange)="onEvacuationChange($event)" [(ngModel)]="initialEvacuation" name="evacuation">
              <ion-option *ngFor="let m of assistantEvacuations" [value]="m">{{m}}</ion-option>
            </ion-select>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Assistance Evacuation Repatriation')">
                <ion-icon name="help"></ion-icon>
              </button>
          </ion-item>
        </ion-item-group>

        <!-- global limit select options -->
        <ion-item-group>
          <ion-item-divider color="light">Adjust Global Limit</ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Select Limit</ion-label>
            <ion-select (ionChange)="onGlobalLimitChange($event)" [(ngModel)]="initialGlobalLimit" name="globalLimit">
              <ion-option *ngFor="let g of globalLimits" [value]="g">{{g.name}}</ion-option>
            </ion-select>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Adjust Global Limit')">
                <ion-icon name="help"></ion-icon>
              </button>
          </ion-item>
        </ion-item-group>

        <!-- evacuation select options -->
        <ion-item-group>
          <ion-item-divider color="light">Adjust deductible per Hospitalization claim</ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Select Adjustment</ion-label>
            <ion-select (ionChange)="onAdjustmentChange($event)" [(ngModel)]="initialAdjustment" name="adjustment">
              <ion-option *ngFor="let a of adjustments" [value]="a">{{a.name}}</ion-option>
            </ion-select>
            <button type="button" ion-button icon-only item-end (click)="showDefiniton('Adjust deductible per Hospitalization claim')">
                <ion-icon name="help"></ion-icon>
              </button>
          </ion-item>
        </ion-item-group>

        <div padding>
          <button ion-button full [disabled]='!form1.valid'>Go Ahead</button>
        </div>
      </form>
    </ion-slide>

    <!-- SLIDE 2: PERSONAL DETAILS SLIDE-->
    <ion-slide>

      <page-prevnext-component [isDisabled]="form2.invalid" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>

      <form #form2="ngForm" no-validate>
        <div *ngIf="form2Details">

          <ion-item-group>
            <ion-item-divider color="light">Personal Details</ion-item-divider>
            <ion-item>
              <ion-label color="primary">Last Name *</ion-label>
              <ion-input type="text" required [(ngModel)]="form2Details.policy_owner_first" name="last" placeholder="Last Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary">First Name *</ion-label>
              <ion-input type="text" required [(ngModel)]="form2Details.policy_owner_last" name="first" placeholder="First Name"></ion-input>
            </ion-item>

            <div radio-group [(ngModel)]="form2Details.sex" name="sex">
              <ion-row style="align-items: center">
                <ion-col col-4>Sex</ion-col>
                <ion-col col-8>
                  <ion-row>
                    <ion-col col-6>Male
                      <ion-radio value="0"></ion-radio>
                    </ion-col>
                    <ion-col col-6>Female
                      <ion-radio value="1"></ion-radio>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>

            <ion-item>
              <span item-start>Date of Birth</span>
              <span item-end>{{form2Details.dateofbirth_main}}</span>
            </ion-item>

            <ion-item>
              <span item-start>Family Description</span>
              <span item-end>{{form2Details.family_description}}</span>
            </ion-item>

            <ion-item>
              <ion-label>Nationality </ion-label>
              <ion-select name="nationality" [(ngModel)]="form2Details.nationality" name="nationality" placeholder="Select Country">
                <ion-option *ngFor="let c of countries" [value]="c.country_name">{{c.country_name}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label stacked>Address of Expatriation </ion-label>
              <ion-textarea [(ngModel)]="form2Details.expatriation_address" name="eAddress" (ionChange)="onExpatriationAddressChange()"></ion-textarea>
            </ion-item>

            <div style="border: 1px solid black">
              <h6>
                <b>Billing Address</b>
              </h6>
              <ion-item>
                <ion-label>Same as Exptriation Address</ion-label>
                <ion-toggle [(ngModel)]="addressToggleValue" name="addressToggle" (ionChange)="onSameAddressToggle()"></ion-toggle>
              </ion-item>
              <ion-textarea [disabled]="addressToggleValue" [(ngModel)]="form2Details.billing_address" name="bAddress" placeholder="Billing Address"></ion-textarea>
            </div>
          </ion-item-group>

        </div>
      </form>
    </ion-slide>


    <!-- SLIDE 3: FOR OTHER DETAILS INPUT -->
    <ion-slide>

      <page-prevnext-component [isDisabled]="form3.invalid" (prev)="onPrev()" (next)="onNext(3)"></page-prevnext-component>

      <form #form3="ngForm" no-validate>

        <!-- OTHER DETAILS -->
        <ion-item-group>
          <ion-item-divider color="light">Other Details</ion-item-divider>
          <ion-item>
            <ion-label color="primary">Phone</ion-label>
            <ion-input type="tel" [(ngModel)]="form2Details.Phone" name="phone" placeholder="Enter Phone" maxlength="20"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Mobile *</ion-label>
            <ion-input type="tel" required [(ngModel)]="form2Details.mobile_phone" name="mobile" placeholder="Enter Mobile" maxlength="20"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Email *</ion-label>
            <ion-input type="email" required [(ngModel)]="form2Details.mail_id" name="mail" placeholder="Enter Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Skype Id</ion-label>
            <ion-input type="text" [(ngModel)]="form2Details.skype_id" name="skype" placeholder="Enter Skype Id"></ion-input>
          </ion-item>
        </ion-item-group>

      </form>

    </ion-slide>

    <!-- SLIDE 4: PARTNER AND CHILD DETAILS -->
    <ion-slide *ngIf="form2Details.family_description=='2-Persons' || form2Details.family_description=='Family'">

      <page-prevnext-component [isDisabled]="form4.invalid" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>

      <form #form4="ngForm" no-validate>
        <!-- PARTNER DETAILS -->
        <ion-item-group *ngIf="state.members!='Individual' && (form2Details.family_description=='2-Persons' || form2Details.family_description=='Family')">
          <ion-item-divider color="light">Partner (2nd Person) Details</ion-item-divider>
          <ion-item>
            <ion-label color="primary">Last Name *</ion-label>
            <ion-input type="text" required [(ngModel)]="form2Details.partner_last" name="partner_last" placeholder="Last Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">First Name *</ion-label>
            <ion-input type="text" required [(ngModel)]="form2Details.partner_first" name="partner_first" placeholder="First Name"></ion-input>
          </ion-item>

          <div radio-group [(ngModel)]="form2Details.partner_sex" name="partner_sex">
            <ion-row style="align-items: center">
              <ion-col col-4>Sex</ion-col>
              <ion-col col-8>
                <ion-row>
                  <ion-col col-6>Male
                    <ion-radio value="0"></ion-radio>
                  </ion-col>
                  <ion-col col-6>Female
                    <ion-radio value="1"></ion-radio>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>

          <ion-item>
            <span item-start>Date of Birth</span>
            <span item-end>{{changeDateFormat(dobs[1])}}</span>
          </ion-item>
        </ion-item-group>

        <!-- CHILD 1 DETAILS -->
        <ion-item-group *ngIf="form2Details.family_description=='Family'">

          <div *ngFor="let child of childrenDetail;let i=index">

            <ion-item-divider color="light">Chlld {{i+1}} Details
              <button *ngIf="i>=2" ion-button (click)="onRemoveChildBtn(i)">Remove</button>
            </ion-item-divider>

            <ion-item>
              <ion-label color="primary">Last Name *</ion-label>
              <ion-input type="text" required [(ngModel)]="child.last" name="child.last{{i+1}}" placeholder="Last Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary">First Name *</ion-label>
              <ion-input type="text" required [(ngModel)]="child.first" name="child.first{{i+1}}" placeholder="First Name"></ion-input>
            </ion-item>

            <div radio-group [(ngModel)]="child.sex" name="child.sex{{i+1}}">
              <ion-row style="align-items: center">
                <ion-col col-4 color="primary">Sex</ion-col>
                <ion-col col-8>
                  <ion-row>
                    <ion-col col-6>Male
                      <ion-radio value="0"></ion-radio>
                    </ion-col>
                    <ion-col col-6>Female
                      <ion-radio value="1"></ion-radio>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>

            <!-- FOR FIRST 2 CHILD, SHOW THE DOB ENTERED IN FORM1, FOR OTHER CHILDREN, GIVE OPTION TO SELECT DOB -->
            <ion-item *ngIf="i<2">
              <span item-start>Date of Birth</span>
              <span item-end>{{changeDateFormat(dobs[i+2])}}</span>
            </ion-item>
            <ion-item *ngIf="i>=2">
              <ion-label>Date of Birth *</ion-label>
              <ion-datetime required [(ngModel)]="dobsForm2[i]" name="dobs2{{i}}" displayFormat="DD/MM/YYYY" placeholder="DD MMM, YYYY"
                pickerFormat="DD MMM, YYYY" [min]="minDOBChild" [max]="today" (ionChange)="calculateAgeForForm2($event,child,i)"></ion-datetime>
            </ion-item>

          </div>

          <button *ngIf="childrenDetail.length>=2 &&childrenDetail.length<16" ion-button (click)="onAddChildBtn()">Add One Child</button>
        </ion-item-group>

      </form>

    </ion-slide>

    <!-- SLIDE 5: OTHER OPTIONS SELECTED ON PREVIPOUS SLIDES-->
    <ion-slide>

      <page-prevnext-component [isDisabled]="form5.invalid" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>


      <form #form5="ngForm" no-validate>

        <!-- OTHER SELECTED DETAILS -->
        <ion-item-group>
          <ion-item>
            <span item-start>Area of Cover</span>
            <span item-end>{{state?.area | uppercase}}</span>
          </ion-item>
          <ion-item>
            <ion-label>First USD Cover</ion-label>
            <ion-toggle disabled [checked]="form2Details.first_usd_cover"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>CFE</ion-label>
            <ion-toggle disabled [checked]="state?.complement"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Social security No. (in case of CFE):</ion-label>
            <ion-input type="text" [(ngModel)]="form2Details.security_CFE_1" name="SSN"></ion-input>
          </ion-item>
        </ion-item-group>

        <!-- SELECTED PLAN-->
        <ion-item-group>
          <ion-item-divider>Choice of the class of cover</ion-item-divider>

          <ion-list radio-group>
            <ion-item>
              <ion-label>SERENITY PLAN</ion-label>
              <ion-radio disabled [checked]="form2Details.serenity_cover"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>ELITE PLAN</ion-label>
              <ion-radio disabled [checked]="!form2Details.serenity_cover"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-item-group>

        <!-- CHOICE OF MODULES-->
        <ion-item-group>
          <ion-item-divider>Choice of Modules</ion-item-divider>
          <ion-item>
            <ion-label>Inpatient</ion-label>
            <ion-toggle disabled [checked]="form2Details.inpatient_modules"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Outpatient</ion-label>
            <ion-toggle disabled [checked]="form2Details.outpatient_modules"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Dental Optical</ion-label>
            <ion-toggle disabled [checked]="form2Details.dental_optical_modules"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Assistance Evacuation Repatriation</ion-label>
            <ion-toggle disabled [checked]="form2Details.assistance_evacuation_modules"></ion-toggle>
          </ion-item>
        </ion-item-group>

      </form>
    </ion-slide>

    <!-- SLIDE 6: FOR MEDICAL DETAILS OF MAIN PERSON AND CHILDREN  -->
    <ion-slide>

      <page-prevnext-component [isDisabled]="form6.invalid" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>

      <form #form6="ngForm" no-validate>
        <!-- MEDICAL QUESTIONNAIRE -->
        <div>
          <h4>Medical Questionnaire </h4>
          <!-- MAIN PERSON HEIGHT-WEIGHT -->
          <ion-item-group>
            <ion-item-divider>Main Insured *</ion-item-divider>
            <ion-item>
              <ion-input type="number" required [(ngModel)]="form2Details.main_insured_height" name="main_height" placeholder="Height (m)"></ion-input>
              <ion-input type="number" required [(ngModel)]="form2Details.main_insured_weight" name="main_weight" placeholder="Weight (Kg)"></ion-input>
            </ion-item>
          </ion-item-group>

          <!-- PARTNER'S  HEIGHT-WEIGHT -->
          <ion-item-group *ngIf="form2Details.family_description=='Family' || form2Details.family_description=='2-Persons'">
            <ion-item-divider>Partner *</ion-item-divider>
            <ion-item>
              <ion-input type="number" required [(ngModel)]="form2Details.partner_height" name="partner_height" placeholder="Height (m)"></ion-input>
              <ion-input type="number" required [(ngModel)]="form2Details.partner_weight" name="partner_weight" placeholder="Weight (Kg)"></ion-input>
            </ion-item>
          </ion-item-group>

          <!-- CHILDREN'S  HEIGHT-WEIGHT -->
          <ion-item-group *ngFor="let child of childrenDetail;let i=index">
            <ion-item-divider>Child {{i+1}} *</ion-item-divider>
            <ion-item>
              <ion-input type="number" required [(ngModel)]="child.height" name="child_height{{i+1}}" placeholder="Height (m)"></ion-input>
              <ion-input type="number" required [(ngModel)]="child.weight" name="child_weight{{i+1}}" placeholder="Weight (Kg)"></ion-input>
            </ion-item>
          </ion-item-group>
        </div>

        <!-- MEDICAL PREEXISTING CONDITION -->
        <div>
          <h4>Medical Preexisting Condition (If Any) </h4>

          <ion-list>
            <!-- MAIN PERSON preexisting condition-->
            <div style="border-bottom: 1px solid black" radio-group [(ngModel)]="form2Details.preexisting_main_insured" name="preexisting_main_insured">
              <ion-row style="align-items: center">
                <ion-col col-4>Main Insured </ion-col>
                <ion-col col-8>
                  <ion-row>
                    <ion-col col-6>Yes
                      <ion-radio value="1"></ion-radio>
                    </ion-col>
                    <ion-col col-6>No
                      <ion-radio value="0"></ion-radio>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-textarea *ngIf="form2Details.preexisting_main_insured==1" type="text" required [(ngModel)]="form2Details.preexisting_main_insured_1"
                name="preexisting_main_insured_1" placeholder="If Yes, Details :" style="border: 1px solid lightgray;">
              </ion-textarea>
            </div>

            <!-- PARTNER'S  preexisting condition-->
            <div *ngIf="state?.members==='2-Persons' || state?.members==='Family'" style="border-bottom: 1px solid black" radio-group
              [(ngModel)]="form2Details.preexisting_partner" name="preexisting_partner">
              <ion-row style="align-items: center">
                <ion-col col-4>Partner </ion-col>
                <ion-col col-8>
                  <ion-row>
                    <ion-col col-6>Yes
                      <ion-radio value="1"></ion-radio>
                    </ion-col>
                    <ion-col col-6>No
                      <ion-radio value="0"></ion-radio>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-textarea *ngIf="form2Details.preexisting_partner==1" type="text" required [(ngModel)]="form2Details.preexisting_partner_1"
                name="preexisting_partner_1" placeholder="If Yes, Details :">
              </ion-textarea>
            </div>

            <!-- CHILDREN'S  preexisting condition-->
            <div *ngIf="state?.members==='Family'" style="border-bottom: 1px solid black">

              <div *ngFor="let child of childrenDetail;let i= index">
                <div radio-group [(ngModel)]="child.preexisting" name="child.preexisting{{i+1}}">
                  <ion-row style="align-items: center">
                    <ion-col col-4>Child {{i+1}} </ion-col>
                    <ion-col col-8>
                      <ion-row>
                        <ion-col col-6>Yes
                          <ion-radio value="1"></ion-radio>
                        </ion-col>
                        <ion-col col-6>No
                          <ion-radio value="0"></ion-radio>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                  <ion-textarea *ngIf="child.preexisting==1" type="text" required [(ngModel)]="child.preexisting_1" name="child.preexisting_1{{i+1}}"
                    placeholder="If Yes, Details :">
                  </ion-textarea>
                </div>
              </div>
            </div>
          </ion-list>
        </div>
      </form>

    </ion-slide>

    <!-- SLIDE 7:  OTHER INFO AND STARTING COVER DATE SELECTION- -->
    <ion-slide>

      <page-prevnext-component [isDisabled]="form7.invalid" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>

      <form #form7="ngForm" no-validate>
        <!-- OTHER INFO AND STARTING COVER DATE SELECTION-->
        <ion-list>
          <ion-item>
            <span item-start>
              <b>Global Limit</b>
            </span>
            <span item-end>
              $ {{state?.globallimit}}
            </span>
          </ion-item>

          <ion-item text-wrap>
            <span item-start>
              <b>Deductible per Hospitalizaiton claim</b>
            </span>
            <span item-end>
              $ {{state?.adjusment}}
            </span>
          </ion-item>

          <ion-item text-wrap>
            <ion-label>Starting date of cover *</ion-label>
            <ion-datetime [(ngModel)]="date_of_cover" name="date_of_cover" required displayFormat="DD/MM/YYYY" placeholder="DD MMM, YYYY"
              pickerFormat="DD MMM, YYYY" [min]="today" (ionChange)="setDateOfCover($event)"></ion-datetime>
          </ion-item>

          <ion-item>
            <span item-start>
              <b>Broker Id</b>
            </span>
            <span item-end>
              {{brokerId}}
            </span>
          </ion-item>
        </ion-list>

      </form>
    </ion-slide>

    <!-- SLIDE 8: FOR CURRENCY SELECTION -->
    <ion-slide>

      <page-prevnext-component [isDisabled]="true" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>

      <form #form8="ngForm" no-validate>

        <!-- SHOW THE AVAILABLE AND SELECTED PAYMENT CURRENCY AND FREQUENCY -->
        <div>
          <ion-grid>
            <ion-row>
              <ion-col col-3>
                <p>Yearly</p>
                <p [class.selectedFrequency]="form2Details.frequency_payment=='Annual' && form2Details.currency=='1'">$ {{premiumInfo?.yearly_1}}</p>
                <p [class.selectedFrequency]="form2Details.frequency_payment=='Annual' && form2Details.currency=='2'">€ {{premiumInfo?.yearly_2}}</p>
              </ion-col>
              <ion-col col-3>
                <p>Bi-Annually</p>
                <p [class.selectedFrequency]="form2Details.frequency_payment=='biannually' && form2Details.currency=='1'">$ {{premiumInfo?.biannually_1}}</p>
                <p [class.selectedFrequency]="form2Details.frequency_payment=='biannually' && form2Details.currency=='2'">€ {{premiumInfo?.biannually_2}}</p>
              </ion-col>
              <ion-col col-3>
                <p>Qusrterly</p>
                <p [class.selectedFrequency]="form2Details.frequency_payment=='Quarterly' && form2Details.currency=='1'">$ {{premiumInfo?.quarterly_1}}</p>
                <p [class.selectedFrequency]="form2Details.frequency_payment=='Quarterly' && form2Details.currency=='2'">€ {{premiumInfo?.quarterly_2}}</p>
              </ion-col>
              <ion-col col-3>
                <p>Monthly</p>
                <p [class.selectedFrequency]="form2Details.frequency_payment=='Monthly' && form2Details.currency=='1'">$ {{premiumInfo?.monthly_1}}</p>
                <p [class.selectedFrequency]="form2Details.frequency_payment=='Monthly' && form2Details.currency=='2'">€ {{premiumInfo?.monthly_2}}</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>

        <ion-item-group>
          <ion-item-divider></ion-item-divider>
          <div style="border-bottom: 1px solid black" radio-group [(ngModel)]="form2Details.currency" name="currency">
            <ion-row style="align-items: center">
              <ion-col col-4>Choose Currency </ion-col>
              <ion-col col-8>
                <ion-row>
                  <ion-col col-6>$
                    <ion-radio value="1"></ion-radio>
                  </ion-col>
                  <ion-col col-6>€
                    <ion-radio value="2"></ion-radio>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>

          <ion-list radio-group [(ngModel)]="form2Details.frequency_payment" name="frequency_payment">
            <ion-list-header>Choose Frequency of Payment</ion-list-header>
            <ion-item>
              <ion-label>Yearly</ion-label>
              <ion-radio value="Annual"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Bi-Anually</ion-label>
              <ion-radio value="biannually"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Quarterly</ion-label>
              <ion-radio value="Quarterly"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Monthly</ion-label>
              <ion-radio value="Monthly"></ion-radio>
            </ion-item>
          </ion-list>

        </ion-item-group>

        <button ion-button full type="submit" (click)="onGoToPaymentBtn()" [disabled]="form8.invalid">Go Ahead to Payment</button>
      </form>
    </ion-slide>

    <ion-slide>

      <page-prevnext-component [isDisabled]="true" (prev)="onPrev()" (next)="onNext()"></page-prevnext-component>

      <div>
        <h3>
          <b>Payable Amount:</b> {{form2SubmitResponse?.currency==1?'$':'€'}} {{form2SubmitResponse?.last_amount}}</h3>
        <h3>
          <b>Policy: </b>{{form2SubmitResponse?.transaction_id}}</h3>
        <h3>
          <b>Payment Mode: </b>Paypal</h3>

        <button ion-button full (click)="onMakePaymentBtn()">Make Payment</button>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>


<!-- SHOW CALCULATED PREMIUM PRICES -->
<ion-footer style="background-color: antiquewhite" *ngIf="showFooter">
  <div>
    <b>{{premiumInfo?.plan}}</b>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <p>Yearly</p>
        <p>$ {{premiumInfo?.yearly_1}}</p>
        <p>€ {{premiumInfo?.yearly_2}}</p>
      </ion-col>
      <ion-col col-3>
        <p>Bi-Annually</p>
        <p>$ {{premiumInfo?.biannually_1}}</p>
        <p>€ {{premiumInfo?.biannually_2}}</p>
      </ion-col>
      <ion-col col-3>
        <p>Quarterly</p>
        <p>$ {{premiumInfo?.quarterly_1}}</p>
        <p>€ {{premiumInfo?.quarterly_2}}</p>
      </ion-col>
      <ion-col col-3>
        <p>Monthly</p>
        <p>$ {{premiumInfo?.monthly_1}}</p>
        <p>€ {{premiumInfo?.monthly_2}}</p>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>