// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2f74b5,
  secondary:  #fff,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  facebook:   #3b5998,
  linkedin:   #007bb6
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// --------------------------------------------------
.center-block{
  display:block;
  margin:auto;
}
.btn{
  font-size: 14px;
  font-weight: bold;
  color: color($colors,primary);
  padding:15px;
  margin:10px auto;
  animation:shadow-increase 0.5s ease;
  animation-fill-mode: forwards;
}
.btn-light{
  background:white;
}
.btn-round{
  border-radius:25px;
}
.btn-small{
  padding-top:5px;
  padding-bottom:5px;
}
.v-center{
  position:absolute;
  top:50%;
  transform:translatey(-50%);
}
.h-center{
  position:absolute;
  left:50%;
  transform:translatex(-50%);
}
.w-100{
  width:100%;
}
.border-bottom{
  border-bottom: 1px solid gray ;

}

.animate{
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes shadow-increase{
  0%{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.23);
  }
  100%{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.23);
  }
}

@keyframes slideUp{
  0%{
    transform:translatey(100px);
  }
  100%{
    transform:translatey(0px);
  }
}
