.close-background{
    position:relative;
    &:before{
        position: absolute;
        content: '';
        width: 500px;
        height: 500px;
        border: 60px solid color($colors,primary);
        transform: rotate(45deg) translate(-250px,350px);
        animation:decrease-border 0.5s ease-out;
        animation-fill-mode: forwards;
    }
}

@keyframes decrease-border{
    0%{
        border-width:60px;
    }
    100%{
        border-width:0px;
    }
}

.icon-bg{
     animation: .8s infinite beatHeart;
}
.beating-heart{
  padding: 4px;
  background: color($colors,primary);
   border-radius:10px;
}
@-webkit-keyframes beatHeart{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  40%{
    transform: scale(1);
  }
  60%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}